/* commons */
body{
    font-family: Arial, sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fa-angle-down{
 color: lightgray;
}
.p_color_grey{
    color: #727272;
    font-size: 20px;
}
.color_blue{
    color: #0073ce;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 35px;
}
.color_white{
    color: white;
}
/* test */
*{

}
/* end commons */

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
header a{
    color: black;
}
header li{
    padding-right: 25px;
}
/* 1° header */
.sony_logo{
    width: 100%;
    background-color: black;
    text-align: right;
    padding-right: 15px;
}
.sony_logo img{
    width: 90px;
    padding: 10px 0;
}
.fa-bars{
    font-size: 30px;
    color: #737373;
    border: 1px solid lightgray;
    padding: 5px 10px;
}
/* 2° header */
.button_accedi{
    margin: 0px 25px;
}
.button_accedi > a{
    border-radius: 40px;
    background-color: #363636;
}
.playstation_menu{
    height: 60px;
    width: 100%;
    background-color: white;
}
#botton_more_inf{
    border-radius: 40px;
}

/* END HEADER */

/* MAIN */

/* jumbotron */
.jumbotron{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}
#first-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    margin-top: 100px;
}
.card_ img{
    width: 50%;
}
.button_buy > a{
    border-radius: 40px;
    background-color: #cd3d0e;
    padding: 5px 30px;
    border: 1px solid #cd3d0e;
}
.button_accedi{
    margin: 0px 25px;
}

.card_ p{
    font-size: 20px;
}
.card_{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 90%;
    color: white;
}
/* mediaquery jumbotron */
@media (min-width: 992px) {
 .card_{
    width: 400px;
 }
 .card_ img{
     width: 100%;
 }
}

/* NEW VIDEOGAMES */
.new-videogames-section{
    margin-top: 20px;

}
.new-videogames-section img{
    width: 100%;
    border-radius: 10px;
}

/* PLAY 5 PRESENTATION */
.button_more_information > a{
    border-radius: 50px;
    background-color: #2c64e6;
    padding: 8px 10px;
    border: 1px solid #2c64e6;
}
/* ITEMS CONSOLE */
.items-console img{
    width: 100%;
    justify-content: center;
}
.items-console .description{
    text-align: center;
}
.items-console-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* media queries items console */
@media (min-width: 768px) {
    .items-console-img img{
        width: 50%;
    }
    .description{
        font-size: 15px;
    }
}

/* second jambotron */
#second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    margin-top: 100px;
}

/* nuove uscite */
.container-background-grey{
    background-color: #202020;
    width: 100%;
    padding-bottom: 50px;
}
.new_releases img{
    width: 100%;
    border-radius: 20px;
}
.new_releases_item > div{
    padding-top:5px;
}
#description_new_releases{
    font-size: 25px;
}

/* playstation 4 presentation */
.play-four-presentation p{
    margin: 0px;
}
.card{
    border: none;
    width: 100%;
}

/* playstation plus */
.playstation_plus{
    width: 100%;
    background-color:#bebcbb;
}
.btn_plus{
    background-color: #d9dadc;
    color: blue;
}
#logo_ps_plus{
    width: 60%;
}

/* playstation now */
.playstation_now{
    width: 100%;
    background-color:#161d3b;
}
.btn_now{
    background-color: white;
    color: blue;
}
#logo_ps_now{
    width: 60%;
}

/* social */
.social-media_container img{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .social-media_container{
        width: 700px;
    }
}

/* END MAIN */

/* FOOTER */
footer{
    background-color: #00439c;
    margin-top: 7vh;
}
#play-logo-footer > img{
    width: 100px;
}
footer a {
    color: white;
    font-size: 14px;
}
/* sony interactive Enterainment */
.container-2-footer{
}
.container-2-footer img{
    width: 150px;
}
@media screen and (min-width: 768px) {
    ul{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 32%
    }
    .container-2-footer{
        width: 50%;
    }
}
/* END FOOTER */